@tailwind base;
@tailwind components;
@tailwind utilities;
.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
  cursor: grab;
}
.carousel-track.grabbing {
  cursor: grabbing;
  transition: none;
}
.carousel-slide {
  min-width: calc(100% / 3);
  padding: 1rem;
  box-sizing: border-box;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
@media (min-width: 640px) and (max-width: 768px) {
  .carousel-slide {
    min-width: calc(100% / 2);
  }
}
.menu-item {
  padding: 10px;
}

.active {
  border-bottom: 2px solid red;
  opacity: 100;
}
